/*
Author: Trevor, Hongkiu, Spencer
Created: Feb 11, 2025
Description: CSS for Donut Clicking Panel
*/

#generationArea #buttonContainer {
    position: relative;
    display: flex;
    top: 40vh;
    left: 50%;
    width: 85%;
    aspect-ratio: 1;
    background-color: aqua;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s cubic-bezier(.5, 1, .50, -0.5);
}

@media screen and (min-width: 769px) {
    #generationArea #buttonContainer:hover {
        transform: translate(-50%, -50%) scale(1.05);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
}


#generationArea #buttonContainer.pop {
    animation: popWidth 0.2s linear;
}

@keyframes popWidth {
    0% {
        width: 85%;
    }

    45% {
        width: 75%;
    }

    80% {
        width: 85%;
    }

    90% {
        width: 80%;
    }

    100% {
        width: 85%;
    }
}

#generationArea #resourceCounter {
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.5vw;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
    top: 5vh;
}

#generationArea #perSecond {
    text-align: center;
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3vw;
    line-height: 3vw;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
}

.click-text {
    position: absolute;
    pointer-events: none;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    animation: floatUp 1s ease-out;
    user-select: none;
    transform: translateX(-50%);
}

@keyframes floatUp {
    from {
        transform: translateX(-50%) translateY(0);
    }

    to {
        transform: translateX(-50%) translateY(-40px);
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    #generationArea #buttonContainer {
        top: max(125px, calc(10vh + 20vw));
    }
}