#infoArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    overflow-y: auto;
    height: 100vh;
}

.column {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;

    width:100%;
    min-height: 200px;
    height:auto;
    overflow: hidden;

    padding-bottom: 10px;
    border-bottom:2px solid #444;
}

.infoImage{
    width:60px;
    height: 60px;
    margin: 5px;
}



